<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AanimateBegin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1331BB021F09D36A002FA736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1331BB161F09D36A002FA736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1331BB211F09D36A002FA736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
